@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
<style>
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
</style>
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/back.jpeg) center/cover no-repeat fixed;
}
.pp {
  background-color: #0a080d;
}
.tool {
  display: inline-block;
  width: 100vw;
  position: fixed;
  box-shadow: 0 0 4px rgb(69, 199, 254);
  z-index: 20;
}
.navbar-nav li {
  padding-right: 40px;
}
/*page 0 CSS*/
.p1 {
  padding-top: 300px;
  margin-left: 5vw;

  width: 70vw;
}
.hello {
  font-family: monospace;
  font-size: 2.25vw;
  color: rgb(0, 4, 248);
}
.curr {
  display: inline-block;
  width: 2px;
  height: 2vw;
  background-color: blue;
  animation: cuu 1s infinite;
}
@keyframes cuu {
  50% {
    background-color: transparent;
  }
}
.sz {
  font-size: 5.5vw;
  color: aliceblue;
}
.build {
  font-size: 5.5vw;
  color: chocolate;
  text-transform: capitalize;
}
.about {
  width: 65vw;
}
.dis {
  font-size: 2vw;
  color: azure;
  text-transform: capitalize;
}

#ani {
  color: blue;
  animation: anii 1.5s infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  font-size: 3vw;
}
@keyframes anii {
  30% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(-40deg);
  }
  70% {
    transform: rotateZ(20deg);
  }
  90% {
    transform: rotateZ(-40deg);
  }
}
.res {
  color: white;
  font-size: 2vw;
  background: #0a080d;
  box-shadow: 0 0 4px rgb(69, 199, 254);
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 10px;
}
.p2 {
  background-color: rgb(10, 25, 47);
  min-height: 110vh;
  color: white; /* should be changed*/
  box-shadow: 0 0 4px rgb(69, 199, 254);
  margin-top: 400px;
  font-family: "Roboto";
}
.container {
  background-color: rgb(10, 25, 47);
  width: 100vw;
  min-height: 110vh;
  color: white; /* should be changed*/
  box-shadow: 0 0 4px rgb(69, 199, 254);
  margin-top: 400px;
  font-family: "Roboto";
  font-weight: 100;
}
.p2head,
.p3head,
.p4head {
  font-size: 4.1vw;
  color: orange;
}
.p2subhead,
.p3subhead,
.p4subhead,
.p5subhead {
  font-size: 2.75vw;
  color: gray;
}
.p2dis,
.p3dis,
.p4dis,
.p5dis {
  font-size: 1.75vw;
  word-spacing: 4px;
  font-family: 'Nunito', sans-serif;
}
.p2im {
  width: 22vw;
  height: 22vw;
}
.p4x {
  box-shadow: 3px 3px 2px rgb(180, 232, 255);
  color: aliceblue;
  position: relative;
  left: 15%;
  width: 70%;
  height: 90%;
}
@media screen and (max-width:749px){
  .p4x{
    width: 50%;
  }
}
.p4x:hover {
  background: linear-gradient(
    rgba(255, 255, 255, 0.171),
    rgba(255, 255, 255, 0.068)
  );
  box-shadow: 5px 5px 2px rgb(180, 232, 255);
}
.p4l:hover {
  text-decoration: none;
}
.p5 {
  background-color: transparent;
  text-align: center;
  width: 96vw;
  min-height: 80vh;
  color: white; /* should be changed*/
  margin-top: 400px;
  font-family: "Roboto";

  position: relative;
}
.p5s a i {
  font-size: 50px;
  margin: 0px 20px;
}
.p5cr {
  min-height: 2vh;
  position: absolute;
  top: 80%;
  left: 37vw;
}
